@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Yeseva+One&display=swap');

.container {
    padding: 0 2rem;
    margin: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.nav {
    height: 10vh;
}

.main {
    min-height: 75vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main h1 {
    font-family: 'Yeseva One', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    margin-top: 2rem;
}

.main h2 {
    font-size: 2rem;
}

.main p {
    font-size: 1.75rem;
    text-align: center;
}

.main p :first-child {
    color: #0077b6;
}

.main p :nth-child(3) {
    color: #fb8b24;
}
.main p :last-child {
    color: #e56b6f;
}

.main .copyblock {
    display: flex;
}

.main .copybutton {
    margin-left: 1.5em;
    width: 3rem;
}

.main .copybutton svg {
    cursor: pointer;
}

.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.title em {
    background: linear-gradient(
        90deg,
        rgba(255, 138, 0, 1) 0%,
        rgba(203, 192, 133, 1) 100%
    );
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.title,
.description {
    text-align: center;
}

.description {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}

@media (prefers-color-scheme: dark) {
    .card,
    .footer {
        border-color: #222;
    }
    .code {
        background: #111;
    }
    .logo img {
        filter: invert(1);
    }
}
